body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
.bgimg-1 {
    min-height: 70%;
    background-image: url('backimg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.myname{
    text-align: center;
}
.iam{
    margin-left: 340px;
    width: 300px

}

.bgimg-2{
    min-height: 70%;
    background-image: url('images.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cont{
    margin-left: 340px;
}
.portfolio{
    color: black;
}
.java {
	font-weight: bold;
    height: 100%;
    color: #777;
    line-height: 1.8;
    min-height: 70%;
    background-image: url('backimg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.row{
    text-align: center;
}
.namef{
    margin-right: 26px;
}
.create{
    color: black;
}
.chart{
    font-weight: bold;
    margin-top: 50px;
    height: 100%;
    color: #000000;
    line-height: 1.8;
    min-height: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.chart2{
    font-weight: bold;
    margin-top: 50px;
    margin-left: 340px;
    height: 100%;
    color: #000000;
    line-height: 1.8;
    min-height: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
iframe{
    height: 300px;
    width: 500px;
    margin-left: 348px;
}
.apii{
    margin-left: 500px;
}
.buttsend{
    margin-left: 250px;
    padding: 20px;
}
.ranim{
    margin-left: 520px;
    margin-top: 20px;
}
.ranim1{
    margin-left: 500px;
    margin-top: 60px;
}
.ranim2{
    margin-left: 570px;
    margin-top: 30px;
}
.ranim3{
    margin-left: 380px;
    margin-top: 60px;
}
.apibody{
    font-weight: bold;
    height: 100%;
    background-image: url('backimg.jpg');
    color: #000000;
    line-height: 1.8;
    min-height: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.print{
    margin-left: 400px;
}
.chartt{
    background-image: url('backimg.jpg');
    margin-top: 60px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
